@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}

nav{
    color:white;
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height:3.8rem;
    background-color: black;
}
nav ul li{
    padding: 0 12px;
}
.brand{
    display:flex;
    align-items: center;
    margin: 0 0 3px;
    font-weight: 600;
    font-size: 1.5rem;
}
.brand img{
    width:50px;
    padding:0 5px;
}
.container{
    color:white;
    background-color: #111100;
    height:62vh;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    width:65%;
    margin:1.8rem auto;
    border-radius: 15px;
    background-image: url("content/bg.jpg");
    background-size: cover;
    padding:2rem;
}


.bottombar{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:70px;
    width:100%;
    background-color: black;
    position: fixed;
    bottom:0;
    padding: 1rem 0 0 0;
}
#progbar{
    width:80vw;
}
.icons{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap:2rem;
    align-items: center;
    cursor: pointer;
}
.caret{
    font-size: 2rem;
}
.pause{
    font-size: 1.9rem;
}
.songitem{
    background-color: white;
    color:black;
    display:flex;
    align-items: center;
    gap:2rem;
    width:40%;
    border-radius: 1rem;
    padding:0.2rem 0.2rem 0.2rem 1rem ;
    margin-bottom: 0.7rem;
}
.songitem img{
    height: 3rem;
}
.songitem i{
    font-size: 2rem;
}
